<article class="post">
  <div>
    <h2 class="post_title"><%= post.title %></h2>
    <div class="post_info">
      <p class="post_author">
        Por 
        <strong><%= post.author %> </strong>
         em 
        <span><%= post.created_date %></span>
      </p>
      <% if (post.edited_date) { %>
      <p class="post_edited-date">
        Editado em 
        <span><%= post.edited_date %></span>
      </p>
      <% } %>
    </div>
    <pre class="post_content"><%= post.content %></pre>
  </div>
  <% if (userId === post.id_user) { %>
  <div class="buttons-group">
    <button class="delete-btn" id="open-modal">
      <span class="material-symbols-outlined">delete</span>
      Excluir
    </button>
    <a href="/edit-post/<%= post.id %>" class="edit-btn">
      <span class="material-symbols-outlined">edit</span> 
      Editar
    </a>
  </div>
  <% } %>
</article>
<dialog class="modal" id="modal">
  <button class="modal_close" id="close-modal">
    <span class="material-symbols-outlined">close</span>
  </button>
  <div class="modal_info">
    <h3 class="modal_title">Excluir Post</h3>
    <p class="modal_text">Você tem certeza que deseja excluir este post?</p>
  </div>
  <a href="/delete-post/<%= post.id %>" class="modal_confirmation">Confirmar Exclusão</a>
</dialog>
