<article class="post">
  <h2 class="post_title"><%= post.title %></h2>
  <p class="post_author">
    Por 
    <strong><%= post.author %> </strong>
     em 
    <span><%= post.created_date %></span>
  </p>
  <p class="post_content"><%= post.content %></p>
  <% if (userId === post.id_user) { %>
  <a href="/edit-post/<%= userId %>/<%= post.id %>" class="edit-btn">
    <span class="material-symbols-outlined">edit</span> 
    Editar
  </a>
  <% } %>
</article>