<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Let's Blog</title>
</head>
<body>
  <%- include('includes/header') %>

  <main class="main">

    <% if (role === "home") { %>
      <%- include('includes/posts-list.ejs', (posts)) %>
    <% } %>

    <% if (role === "post") { %>
      <%- include('includes/post.ejs', (userId, post)) %>
    <% } %>

    <% if (role === "log-in") { %>
      <%- include('includes/log-in.ejs') %>
    <% } %>

    <% if (role === "sign-up") { %>
      <%- include('includes/sign-up.ejs', (errorEmail, errorName, errorPassword)) %>
    <% } %>

    <% if (role === "new-post") { %>
      <%- include('includes/new-post.ejs') %>
    <% } %>

    <% if (role === "edit-post") { %>
      <%- include('includes/edit-post.ejs'), (userId, post) %>
    <% } %>

  </main>

  <%- include('includes/footer') %>

  <script src="/js/script.js"></script>
</body>
</html>
